#header {
    width: 700px;
    height: 90px;
    padding:5px;
    background-color:rgb(149, 89, 218);
    margin: auto;
    }

    #content {
        width: 700px;
        height: 500px;
        padding:5px;
        background-color: rgb(66, 198, 221);
       
        margin: auto;
        }
    

    #footer{
        padding:5px;
        height: 90px;
        width: 700px;
        background:rgb(146, 144, 235);
        margin: auto;
    
         }